<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>reveal.js</title>

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/black.css">

		<!-- Custom Styles -->
		<link rel="stylesheet" href="css/custom.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section>
					<h2>Atomic Design in Drupal 8: Isolating Your Frontend Workflow with Pattern Lab!</h2>
					<p>Anthony Simone</p>
					<p>Elevated Third</p>
				</section>

				<section>
					<h2>Goals</h2>
					<ul>
						<li>Introduce concepts reqiured for using Drupal 8 and Pattern Lab together</li>
						<li>Review a practical implementation that can get you up and running immediately</li>
						<li>Discuss some benefits/challenges of a decoupled frontend workflow in Drupal projects</li>
					</ul>
				</section>
				
				<section>
					<section>
						<h2>Atomic Design</h2>
						<ul>
							<li>Use small pieces (atoms) to build out larger elements (molecules)</li>
							<li>Repeat => components, templates, pages, etc...</li>
						</ul>
					</section>
					<section>
						<h2>Reusable Components</h2>
						<ul>
							<li>Atomic Design dictates creating and implementing reusable, explicitly defined components</li>
							<li>Some Drupal Patterns: fields, field formatters, entities</li>
							<li>Fields (reusable)</li>
							<li>Field formatters (defined presentation)</li>
							<li>Entities/bundles with view modes</li>
							<li>Paragraphs</li>
						</ul>
					</section>
					<section>
						<h2>Front End Workflow in Drupal 7</h2>
						<ul>
							<li>Sitebuilding -> Content -> Theming</li>
							<li>Theming depends on placeholder content during development</li>
							<li>Styling happens within the entire Drupal context</li>
							<li>Problems?</li>
						</ul>
					</section>
				</section>

				<section>
					<section>
						<h2>Enter Pattern Lab</h2>
						<blockquote>At its core, <a href="http://patternlab.io/" target="_blank">Pattern Lab</a> is a static site generator (powered by either PHP or Node) that stitches together UI components. But there's a whole lot more to it than that!</blockquote>
					</section>
					<section data-background-video="./media/video/atomic-design.mp4" data-background-video-loop data-background-video-muted>
					</section>
					<section>
						<h2>Pattern Lab as a Design System</h2>
						<ul>
							<li>Build pattern driven user interfaces using atomic design principles</li>
							<li>Create components from <b>consistent</b>, defined building blocks</li>
							<li>Documentation - consistent language throughout entire team</li>
						</ul>
					</section>
					<section>
						<h2>Pattern Lab as an Implementation</h2>
						<ul>
							<li>PHP or node version</li>
							<li>Tool/Language agnostic</li>
							<li>Templating engine flexible (Mustache, Twig, Handlebars, etc)</li>
							<li>Viewport resizer, annotations, pattern lineage, and more!</li>
						</ul>
					</section>
					<section>
						<h2>How it Works</h2>
						<p>Create smallest templates, include those in larger templates, etc...</p>
						<p>Templates are backed by a JSON file that provides the data</p>
						<p>Single source of truth</p>
					</section>
				</section>

				<section>
					<section class="test-bg" data-background-color="#e6d149" data-background-image="./media/images/sun-rays.svg">
						<h2>The Gold Standard</h2>
						<p>Maintain a Drupal 8 project that implements Pattern Lab. All assets (templates, CSS, JS) are shared between the two projects in an identical state (one source).</p>
					</section>
					<section>
						<h2>Pattern Lab in Drupal (7)</h2>
						<ul>
							<li>Pattern Lab in a Drupal 7 project would require maintaining a two separate projects</li>
							<li>Using same CSS/JS files would require manually maintaining the consistency between the two projects (<b><i>woof</i></b>)</li>
						</ul>
					</section>
					<section>
						<h2>Pattern Lab in Drupal (8)</h2>
						<ul>
							<li><a href="http://twig.sensiolabs.org/" target="_blank">Twig</a> is a templating engine that adds common templating patterns to PHP projects</li>
							<li>All templates in Drupal 8 are <code class="inline">.twig</code> files</li>
							<li>Integrating Pattern Lab directly into your Drupal project is now a possibility</li>
						</ul>
					</section>
				</section>

				<section>
					<section>
						<h1>Challenges Adding Pattern Lab to a Drupal 8 Project</h1>
					</section>
					<section>
						<h2>Vanilla Pattern Lab Project</h2>
						<ul>
							<li>Pattern Lab implements the templating language chosen without assumptions</li>
							<li>Includes and extends build out project structure
						</ul>
					</section>
					<section>
						<h2>For Example</h2>
						<pre><code class="hljs" data-trim contenteditable>
&lt;article class="product"&gt;
  &lt;div class="main"&gt;
    {% include "atoms-title" %}
    {% include "atoms-landscape-16x9" %}
    {% include "atoms-body" %}
  &lt;/div&gt;
  &lt;aside class="details"&gt;
    {% include "molecules-details" %}
  &lt;/aside&gt;
&lt;/article&gt;
						</code></pre>
						<p>If you're thinking: <i>"Wait, but that's no good!"</i>, you're right, it's not!</p>
					</section>
					<section>
						<h2>Let's Fix It!!</h2>
						<ul>
							<li>...but, that seems kind of hard.</li>
							<li><code class="inline">{% include "atoms-title" %}</code> != <code class="inline">{{ content.field_title }}</code></li>
							<li>Fortunately, some awesome people have already been thinking about the hard problems</li>
						</ul>
					</section>
					<section>
						<h2>Data Transform Plugin</h2>
						<ul>
							<li>Aleksi Peebles developed a solution</li>
							<li><code class="inline">.twig</code> templates and <code class="inline">.json</code> files exist in pairs</li>
							<li>Use the <code class="inline">.json</code> data to include templates</li>
						</ul>
					</section>
					<section>
						<h2>Special JSON Keys</h2>
						<ul>
							<li><code class="inline">attributes()</code> - Compiles the Drupal attributes</li>
							<li><code class="inline">include()</code> - Include a template in the specified variable</li>
							<li><code class="inline">join()</code> - Join multiple templates together in the specified variable</li>
							<li>Allows simple inclusion of templates in <code class="inline">{{ content.field_name }}</code> or <code class="inline">{{ content }}</code> vars, but more on this later</li>
						</ul>
					</section>
				</section>

				<section>
					<section>
						<h2>Implementation</h2>
						<p>We've made progress, the big problem is solved, and we're pretty sure it's going to work, but we're not there yet.</p>
					</section>
					<section>
						<h2>Some Examples of Solutions</h2>
						<ul>
							<li>Forum One's <a href="https://events.drupal.org/neworleans2016/sessions/big-easy-front-end-development-pattern-lab-and-twig" target="_blank">talk</a> at Drupal Con New Orleans on Drupal 8 and Pattern Lab</li>
							<li>Phase Two's <a href="https://events.drupal.org/neworleans2016/sessions/wireframes-widgets-using-paragraphs-and-prototyping-tools-create" target="_blank">talk</a> at Drupal Con New Orleans about design process</li>
							<li>Aleksi Peeble's <a href="https://github.com/aleksip/shila-drupal-theme" target="_blank">Shila theme</a></li>
						</ul>
					</section>
				</section>

				<section>
					<section>
						<h2>Our Solution</h2>
						<p>Let's look at some more challenges that come up for an implementation of Pattern Lab in Drupal and see how our approach will solve them</p>
					</section>
					<section>
						<h2>Project Structure</h2>
						<ul>
							<li>Where should Pattern Lab live?</li>
							<li>In the theme, but how?</li>
						</ul>
					</section>
					<section>
						<h2>Two Twigs</h2>
						<ul>
							<li>Drupal 8 and Pattern Lab both have their own implementation of Twig</li>
							<li>How is this reconciled, without hacking either project?</li>
							<li>Let's try to work with what we have</li>
						</ul>
					</section>
					<section>
						<table>
							<thead>
								<tr>
									<td>Drupal 8 Twig</td>
									<td>Pattern Lab Twig</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<p>Finds templates <i>anywhere</i> in the Drupal theme</p>
										<p>Only recognizes templates ending with <code class="inline">.html.twig</code></p>
										<p>Will not include <code class="inline".twig</code> files</p>
									</td>
									<td>
										<p>Recognizes in specific locations within the project</p>
										<p>Any templates ending in <code class="inline">.twig</code></p>
										<p>PL is inside our Drupal project</p>
									</td>
								</tr>
							</tbody>
						</table>
					</section>
					<section>
						<h2>Problem</h2>
						<ul>
							<li>Drupal is aware of all templates inside Pattern Lab</li>
							<li>Pattern Lab is not aware of templates outside of its project root</li>
							<li>We want a single source of truth for our assets</li>
							<li>We also would like our templates should live where you might expect to find them</li>
						</ul>
					</section>
					<section>
						<h2>Solution</h2>
						<p>If we create a dummy directory in our patterns folder called <code class="inline">drupal-templates</code> and inside have a folder that is symlinked to each corresponding template folder (<code class="inline">node</code>, <code class="inline">paragraph</code>, <code class="inline">form</code>, for example), then we can keep all of our templates in our Drupal project where we expect to see them, but also give Pattern Lab access</p>
						<p>Caveats: Pattern Lab will only recognize templates in these immediate child directories, so you are limited in the way you can structure your <code class="inline">templates</code> directory in your drupal project</p>
					</section>
					<section>
						<h1><b><i>DIRECTORIES SCREENSHOT PATTERNS/TEMPLATES</i></b></h1>
					</section>
					<section>
						<h2>Custom Filters and Functions</h2>
						<p>Drupal's implementation of Twig comes with some custom filters and functions out of the box. Many of these are already defined in the Drupal Pattern Lab project, but you need to make sure any custom function or filter is defined otherwise compiling your project will break. The filters don't need to do anything, they just need a definition. Don't forget! It can be an annoying bug to figure out.</p>
					</section>
					<section>
						<h2>{{ content }} and {{ content.field_name }}</h2>
						<ul>
							<li>Twig handles mostly strings</li>
							<li><code class="inline">{{ var_name }}</code> is how we render things</li>
							<li><code class="inline">{{ content }}</code> works the same as <code class="inline">&lt;?php print $variables['content'] ?&rt;</code> because of Drupal's custom Twig implementation</li>
							<li>This is also part of the reason the Data Transform Plugin is necessary</li>
							<li>However, you may find yourself being more explicit with your templates</li>
						</ul>
					</section>
					<section>
						<h2>{{ content }} Continued</h2>
						<ul>
							<li>For example, when providing JSON to back your templates, you can use <code class="inline">join()</code> to merge multiple field templates and print them all out with <code class="inline">{{ content }}</code> or you can simply <code class="inline">include()</code> other templates in each key under content and print them with <code class="inline">{{ content.field_name}}</code></li>
							<li>However, you can't quite do both, because the <code class="inline">without</code> filter doesn't really function as it does in Drupal, it's merely defined so its use in Drupal templates doesn't cause an error</li>
							<li>For the time being, in each individual template, you'll need to choose one pattern or the other, based on your needs</li>
						</ul>
					</section>
					<section>
						<h2>OMG My Repo is <i>SO MESSY</i></h2>
						<ul>
							<li>Because of how pattern lab works, changes to source files can cascade into many other altered files</li>
							<li>Add the <code class="inline">public</code> dir to your <code class="inline">.gitignore</code></li>
							<li>Create a <code class="inline">published</code> directory</li>
							<li>Gulp (or grunt) task that copies public to published</li>
							<li>Commit all Pattern Lab dist changes only on "publish" of a new version, and keep it all in its own commit</li>
						</ul>
					</section>
				</section>

				<section>
					<section>
						<h2>Check Out a Project</h2>
						<ul>
							<li>Youth on Record is a local non-profit that works with music education and the Denver youth</li>
							<li><a href="http://youthonrecord.org/" target="_blank">Site build</a> in Druapl 8</li>
							<li>The Pattern Lab <a href="http://youthonrecord.org/themes/custom/themekit/pattern-lab/published/index.html" target="_blank">implementation</a></li>
						</ul>
					</section>
					<section>
						<h2>Things to Note</h2>
						<ul>
							<li>Directory structure</li>
							<li>Consider how templates are being included from Drupal and used in Pattern Lab</li>
							<li>Inspect how JSON data backs the tempaltes</li>
							<li>See how Drupal patterns are made more clear within Pattern Lab</li>
						</ul>
					</section>
				</section>

				<section>
					<h1>Conclusions: Benefits and Challenges</h1>
				</section>

				<section>
					<section data-background-image="./media/gif/yas-taxi.gif">
						<h1 class="fragment fade-in dark-overlay">I love this, it's so great! Count me in! 🙋</h1>
					</section>
					<section>
						<h2>Decoupled Workflow</h2>
						<p>Frontend workflow can be <i>completely</i> decoupled from Drupal</p>
					</section>
					<section>
						<h2>Flexible Project Workflow</h2>
						<p>Permits for a frontend to be designed and built out before a sitebuild must be committed to, without "losing" that time</p>
					</section>
					<section>
						<h2>Componentized Structure</h2>
						<p>Isolates components by responsibility outside of the Drupal context (wrappers, containers, other element classes, etc)</p>
					</section>
					<section>
						<h2>Styleguide</h2>
						<p>Produces a comprehensive interactive styleguide asset that develops with the project requiring minimal update</p>
					</section>
					<section>
						<h2>Testing <small class="header-small"><i>(sort of)</i></small></h2>
						<p>Provides an entire set of data for frontend design system that does not depend on the project database</p>
						<p>Quick (relatively) visual "regression testing" for complicated components, or items that have many dependencies and moving parts</p>
					</section>
					<section>
						<h2>Communities</h2>
						<p>Connecting communities! Pattern Lab is an existing tool with a lot of dedicated followers. And with the hard work of a few people, a bridge to connect Drupal with this large existing community has been made. That's pretty cool!</p>
					</section>
				</section>

				<section>
					<section data-background-image="./media/gif/cornered.gif">
						<h1 class="fragment fade-in dark-overlay">I'm not sure, this sounds terrifying! 🙀</h1>
					</section>
					<section>
						<h2>Time</h2>
						<ol>
							<li class="fragment slide-in slide-out">With a reasonable base setup, the time investment to use this workflow should not be that great.</li>
							<li class="fragment slide-in slide-out">Though, initial learning curve will be present and all members of the team must have buy in.</li>
							<li class="fragment slide-in slide-out">Medium/large projects or maintained project, it can potentially save much more time than required to implement</li>
						</ol>
					</section>
					<section>
						<h2>More Tools!</h2>
						<ul>
							<li>PHP/Composer</li>
							<li>Node/gulp</li>
							<li>Pattern Lab/Data Transform Plugin/JSON</li>
							<li>Drupal</li>
							<li>Twig</li>
							<li>HTML/JS/CSS</li>
							<li>Confident debugging issues that result from any combination of the above!</li>
						</ul>
					</section>
					<section>
						<h2>Too Many Tools?</h2>
						<ul>
							<li>Workflow</li>
							<li>Resources</li>
							<li>Team memberes</li>
							<li>Some may argue that this has already become the commonplace description of a frontend developer in many other spaces</li>
						</ul>
					</section>
					<section>
						<h2>End to End Project Workflow</h2>
						<ul>
							<li>How does your company/team work?</li>
							<li>The potential benefits require buy in from your <i>entire</i> team</li>
						</ul>
					</section>
				</section>

				<section>
					<h2>Questions!<br>Thoughts!<br>Comments!</h2>
				</section>

				<section>
					<h2>Appendix: Resources</h2>
					<ul>
						<li><a href="http://bradfrost.com/blog/post/atomic-web-design/" target="_blank">Brad Frost's Atomic Design</a></li>
						<li><a href="http://bradfrost.com/blog/post/atomic-web-design/" target="_blank">Pattern Lab</a></li>
						<li><a href="http://bradfrost.com/blog/post/atomic-web-design/" target="_blank">Twig</a></li>
						<li><a href="http://bradfrost.com/blog/post/atomic-web-design/" target="_blank">Composer</a></li>
						<li><a href="http://bradfrost.com/blog/post/atomic-web-design/" target="_blank">Gulp</a>/<a href="http://bradfrost.com/blog/post/atomic-web-design/" target="_blank">npm</a></li>
						<li><a href="https://github.com/aleksip/plugin-data-transform" target="_blank">Data Transform Plugin</a></li>
						<li>Forum One's Drupal Con <a href="https://events.drupal.org/neworleans2016/sessions/big-easy-front-end-development-pattern-lab-and-twig" target="_blank">talk</a> on their implementation of Pattern Lab</li>
						<li>Phase Two's Drupal Con <a href="https://events.drupal.org/neworleans2016/sessions/road-runner-rules-more-what-you%E2%80%99d-call-guidelines-design-systems" target="_blank">talk</a> on design systems, Phase Two's <a href="https://github.com/phase2/pattern-lab-starter" target="_blank">starter kit</a></li>
						<li><a href="http://www.aleksip.net/pattern-lab-and-drupal-8-theme-integration-update" target="_blank">Resources</a> relating to the procuess of incorporating Pattern Lab into Drupal</li>
					</ul>
				</section>

				<section>
					<h2>Appendix: Steps to include Pattern Lab in Drupal 8</h2>
					<ol>
						<li>Install Drupal 8 using your desired method</li>
						<li>Add Pattern Lab in your theme: <code>composer create-project pattern-lab/edition-drupal-standard</code></li>
						<li>Choose a starter kit option (demo gives some reasonable examples, the other starter kits have helpful examples as well) choose replace</li>
						<li>Adjust assets in header</li>
						<li>Optionally add/update gulp/grunt tasks for asset workflow</li>
						<li>Create a drupal-templates folder in Pattern Lab and create symlinks inside to all of your template containing folders</li>
						<li>Add any additional filters/functions used in your project, make sure to select Merge on \pl updates</li>
						<li>Generate your pattern lab for the first time</li>
						<li>Start adding templates/json in pattern lab that reference your Drupal templates</li>
						<li>Theme and generate as you go!</li>
					</ol>
				</section>
			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>
			// More info https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				history: true,

				// More info https://github.com/hakimel/reveal.js#dependencies
				dependencies: [
					{ src: 'plugin/markdown/marked.js' },
					{ src: 'plugin/markdown/markdown.js' },
					{ src: 'plugin/notes/notes.js', async: true },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>
	</body>
</html>
