<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>reveal.js</title>

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/black.css">

		<!-- Custom Styles -->
		<link rel="stylesheet" href="css/custom.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section>
					<h2>Atomic Design in Drupal 8: Isolating Your Frontend Workflow with Pattern Lab!</h2>
					<p>Anthony Simone</p>
					<p>Elevated Third</p>
				</section>

				<section>
					<h2>Goals</h2>
					<ul>
						<li>Touch on a lot of concepts at a basic level, focusing on how they fit together to support Pattern Lab and Drupal 8</li>
						<li>Review a practical implementation that gets you up and running immediately</li>
						<li>Discuss some benefits and challenges of a decoupled frontend workflow in Drupal projects</li>
					</ul>
				</section>
				
				<section>
					<section>
						<h2>Atomic Design</h2>
						<ul>
							<li>Use small pieces (atoms) to build out larger elements (molecules)</li>
							<li>Molecules combine to make larger functional components (organisms) which you can use to build templates and pages</li>
						</ul>
					</section>
					<section>
						<h2>Reusable Components</h2>
						<ul>
							<li>Atomic Design dictates creating and implementing reusable, explicitly defined components</li>
							<li>Fields (reusable)</li>
							<li>Field formatters (defined presentation)</li>
							<li>Entities/bundles with view modes</li>
							<li>Paragraphs</li>
						</ul>
					</section>
					<section>
						<h2>Front End Workflow in Drupal 7</h2>
						<ul>
							<li>Sitebuilding -> Content -> Theming</li>
							<li>Theming depends on placeholder content during development</li>
							<li>Styling happens within the entire Drupal context</li>
							<li>Problems?</li>
						</ul>
					</section>
				</section>

				<section>
					<section>
						<h2>Enter Pattern Lab</h2>
						<blockquote>At its core, <a href="http://patternlab.io/" target="_blank">Pattern Lab</a> is a static site generator (powered by either PHP or Node) that stitches together UI components. But there's a whole lot more to it than that!</blockquote>
					</section>
					<section data-background-video="./media/video/atomic-design.mp4" data-background-video-loop data-background-video-muted>
					</section>
					<section>
						<h2>Pattern Lab as a Design System</h2>
						<ul>
							<li>Build pattern driven user interfaces using atomic design principles</li>
							<li>Include patterns inside each other to create components from <b>consistent</b> building blocks</li>
							<li>Documentation - have the entire team using the same language when referring to the design system throughout the entire project</li>
						</ul>
					</section>
					<section>
						<h2>Pattern Lab as an Implementation</h2>
						<ul>
							<li>PHP or node version</li>
							<li>Tool agnostic</li>
							<li>Language agnostic</li>
							<li>Templating engine flexible (Mustache, Twig, Handlebars, etc)</li>
							<li>Viewport resizer, annotations, pattern lineage, and more!</li>
						</ul>
					</section>
					<section>
						<h2>How it Works</h2>
						<p><b><i>HERE WE NEED IMAGE OF GENERIC PATTERN LAB DIRECTORY STRUCTURE AND PATTERNS FOLDER</i></b></p>
						<p>Create smallest templates, include those in larger templates, etc...</p>
						<p>You do not include your data statically within the template files</p>
						<p>Templates are backed by a JSON file that provides the data</p>
						<p>Any time you include a template, you can customize the data</p>
						<p>Single source of truth</p>
					</section>
				</section>

				<section>
					<section class="test-bg" data-background-color="#e6d149" data-background-image="./media/images/sun-rays.svg">
						<h2>The Gold Standard</h2>
						<p>Maintain a Drupal 8 project that implements Pattern Lab. All assets (templates, CSS, JS) are shared between the two projects in an identical state (one source).</p>
					</section>
					<section>
						<h2>Pattern Lab in Drupal</h2>
						<p>Pattern Lab in a Drupal 7 project would require maintaining a two separate projects</p>
						<p>Using same CSS/JS files would require manually maintaining the consistency between the two projects (WOOF)</p>
					</section>
					<section>
						<h2>Drupal 8 and Twig</h2>
						<ul>
							<li>With Twig, the potential to add Pattern Lab directly to your Drupal project is now a possibility</li>
							<li>Templating language that adds common templating patterns to PHP projects, learn more about <a href="http://twig.sensiolabs.org/" target="_blank">Twig</a></li>
							<li>All templates in Drupal 8 are <code class="inline">.twig</code> files</li>
						</ul>
					</section>
				</section>

				<section>
					<section>
						<h1>Challenges Adding Pattern Lab to a Drupal 8 Project</h1>
					</section>
					<section>
						<h2>How it is Different in This Context Than on its Own</h2>
						<p>Pattern Lab implements a vanilla project based on whatever templating engine you choose to use. It assumes no dependencies. So, the general way to build more and more complex patterns is to include the simpler patterns within the more complex pattern templates.</p>
					</section>
					<section>
						<h2>For Example</h2>
						<pre><code class="hljs" data-trim contenteditable>
&lt;article class="product"&gt;
  &lt;div class="main"&gt;
    {% include "atoms-title" %}
    {% include "atoms-landscape-16x9" %}
    {% include "atoms-body" %}
  &lt;/div&gt;
  &lt;aside class="details"&gt;
    {% include "molecules-details" %}
  &lt;/aside&gt;
&lt;/article&gt;
						</code></pre>
						<p>If you're thinking: <i>"Wait, but that's no good!"</i>, you're right, it's not!</p>
					</section>
					<section>
						<h2>Let's Fix It!!</h2>
						<ul>
							<li>...wait that seems kind of hard.</li>
							<li><code class="inline">{% include "atoms-title" %} != {{ content.field_title }}</code></li>
							<li>Fortunately, some awesome people have already been thinking about the hard problems. Aleksi Peebles has created a solution for the biggest road block that we're encountering.</li>
						</ul>
					</section>
					<section>
						<h2>Data Transform Plugin</h2>
						<p>As we saw previously, each template file is backed by a JSON file, providing all of the data for the template.</p>
						<p>WELL, now you might be thinking, WHAT IF I can somehow tell Pattern Lab about the patterns I want to include in this JSON file instead of in the template itself. That'd be swell!</p>
						<p><b><i>WE NEED JSON FILE EXAMPLES</i></b></p>
					</section>
					<section>
						<h2>Special JSON Keys</h2>
						<ul>
							<li><code class="inline">attributes()</code> - Compiles the Drupal attributes</li>
							<li><code class="inline">include()</code> - Include a template in the specified variable</li>
							<li><code class="inline">join()</code> - Join multiple templates together in the specified variable</li>
							<li>WE NEED EXAMPLES</li>
						</ul>
					</section>
					<section>
						<p>The JSON files are processed and these three special keys allow for specific behavior.</p>
						<p>Provides for the cusomization of the attributes var</p>
						<p>Allows simple inclusion of templates in <code class="inline">{{ content.field_name }}</code> or <code class="inline">{{ content }}</code> vars, but more on this later</p>
					</section>
				</section>

				<section>
					<section>
						<h2>Implementation</h2>
						<p>We've made progress, the big problem is solved, and we're pretty sure it's going to work, but we're not there yet.</p>
					</section>
					<section>
						<h2>Some Examples of Solutions</h2>
						<ul>
							<li>Forum One's <a href="https://forumone.com/" target="_blank">talk</a> at Drupal Con New Orleans on Drupal 8 and Pattern Lab</li>
							<li>Phase Two's <a href="https://events.drupal.org/neworleans2016/sessions/wireframes-widgets-using-paragraphs-and-prototyping-tools-create" target="_blank">talk</a> at Drupal Con New Orleans about design process</li>
							<li>Aleksi Peeble's Shila theme</li>
						</ul>
					</section>
				</section>

				<section>
					<section>
						<h2>Our Solution</h2>
						<p>Let's look at some more challenges that come up for an implementation of Pattern Lab in Drupal and see how our approach will solve them</p>
					</section>
					<section>
						<h2>Project Structure</h2>
						<ul>
							<li>Where should Pattern Lab live?</li>
							<li>In the theme, but how?</li>
						</ul>
					</section>
					<section>
						<h2>Shila Theme</h2>
						<ul>
							<li>Aleksi Peebles made a Drupal 8 theme, <a href="https://github.com/aleksip/shila-drupal-theme" target="_blank">Shila</a>, that implements Pattern Lab in a way taht can be included in <i>any</i> theme</li>
							<li>The intention is that it does not depend on anything else</li>
							<li>So, it requires theme behavior to depend on it, asset workflow, etc</li>
							<li>It's a great starting point and completely flushed out so it's worth looking at and understanding, but if you're generally building custom themes for projects from some type of starter, it probably makes more sense to incorporate Pattern Lab into your theme implementation. So we'll move on for now.</li>
						</ul>
					</section>
					<section>
						<h2>Two Twigs</h2>
						<ul>
							<li>Drupal 8 and Pattern Lab both have their own implementation of Twig</li>
							<li>How is this reconciled?</li>
							<li>We don't want to hack either project and depend on a custom implementation</li>
							<li>We try to work with what we have</li>
						</ul>
					</section>
					<section>
						<table>
							<thead>
								<tr>
									<td>Drupal 8 Twig</td>
									<td>Pattern Lab Twig</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<p>Finds templates <i>anywhere</i> in the Drupal theme</p>
										<p>Only recognizes templates ending with <code class="inline">.html.twig</code></p>
										<p>Will not include <code class="inline".twig</code> files</p>
									</td>
									<td>
										<p>Recognizes in specific locations within the project</p>
										<p>Any templates ending in <code class="inline">.twig</code></p>
										<p>PL is inside our Drupal project</p>
									</td>
								</tr>
							</tbody>
						</table>
					</section>
					<section>
						<h2>Solution?</h2>
						<ul>
							<li>Multiple legitimate ways to solve the problem</li>
							<li>Two talks from Drupal Con New Orleans that are worth watching that discuss a lot of these exact issues in more detail are here and here</li>
							<li>Some solutions involve copying templates from the Pattern Lab directories to a <code class="inline">templates</code> directory in the Drupal theme</li>
							<li>Really, we want only one source of truth for template files if at all possible.</li>
							<li>Also, we would probably prefer that source lives where you might expect it to on a typical Drupal 8 project, maybe a <code class="inline">templates</code> directory in your theme, for example</li>
						</ul>
					</section>
					<section>
						<p>If we create a dummy directory in our patterns folder called <code class="inline">drupal-templates</code> and inside have a folder that is symlinked to each corresponding template folder (<code class="inline">node</code>, <code class="inline">paragraph</code>, <code class="inline">form</code>, for example), then we can keep all of our templates in our Drupal project where we expect to see them, but also give Pattern Lab access</p>
						<p>Caveats: Pattern Lab will only recognize templates in these immediate child directories, so you are limited in the way you can structure your <code class="inline">templates</code> directory in your drupal project</p>
					</section>
					<section>
						<h1><b><i>DIRECTORIES SCREENSHOT PATTERNS/TEMPLATES</i></b></h1>
					</section>
					<section>
						<h2>Custom Filters and Functions</h2>
						<p>Drupal's implementation of Twig comes with some custom filters and functions out of the box. Many of these are already defined in the Drupal Pattern Lab project, but you need to make sure any custom function or filter is defined otherwise compiling your project will break. The filters don't need to do anything, they just need a definition. Don't forget! It can be an annoying bug to figure out.</p>
					</section>
					<section>
						<h2>{{ content }} and {{ content.field_name }}</h2>
						<ul>
							<li>Twig handles mostly strings</li>
							<li><code class="inline">{{ var_name }}</code> is how we render things</li>
							<li><code class="inline">{{ content }}</code> works the same as <code class="inline">&lt;?php print $variables['content'] ?&rt;</code> because of Drupal's custom Twig implementation</li>
							<li>This is also part of the reason the Data Transform Plugin is necessary</li>
							<li>However, you may find yourself being more explicit with your templates</li>
						</ul>
					</section>
					<section>
						<h2>{{ content }} Continued</h2>
						<ul>
							<li>For example, when providing JSON to back your templates, you can use <code class="inline">join()</code> to merge multiple field templates and print them all out with <code class="inline">{{ content }}</code> or you can simply <code class="inline">include()</code> other templates in each key under content and print them with <code class="inline">{{ content.field_name}}</code></li>
							<li>However, you can't quite do both, because the <code class="inline">without</code> filter doesn't really function as it does in Drupal, it's merely defined so its use in Drupal templates doesn't cause an error</li>
							<li>For the time being, in each individual template, you'll need to choose one pattern or the other, based on your needs</li>
						</ul>
					</section>
					<section>
						<h2>OMG My Repo is <i>SO MESSY</i></h2>
						<ul>
							<li>Because of how pattern lab works, changes to source files can cascade into many other altered files</li>
							<li>Add the <code class="inline">public</code> dir to your <code class="inline">.gitignore</code></li>
							<li>Create a <code class="inline">published</code> directory</li>
							<li>Gulp (or grunt) task that copies public to published</li>
							<li>Commit all Pattern Lab dist changes only on "publish" of a new version, and keep it all in its own commit</li>
						</ul>
					</section>
				</section>

				<section>
					<section>
						<h2>Check Out a Project</h2>
						<ul>
							<li>Youth on Record is a local non-profit that works with music education and the Denver youth</li>
							<li><a href="http://youthonrecord.org/" target="_blank">Site build</a> in Druapl 8</li>
							<li>The Pattern Lab <a href="http://youthonrecord.org/themes/custom/themekit/pattern-lab/published/index.html" target="_blank">implementation</a></li>
						</ul>
					</section>
					<section>
						<h2>Things to Note</h2>
						<ul>
							<li>Directory structure</li>
							<li>Consider how templates are being included from Drupal and used in Pattern Lab</li>
							<li>Inspect how JSON data backs the tempaltes</li>
							<li>See how Drupal patterns are made more clear within Pattern Lab</li>
						</ul>
					</section>
				</section>

				<section>
					<section data-background-image="./media/gif/yas-taxi.gif">
					</section>
					<section>
						<h1>I love this, it's so great! 🙋</h1>
					</section>
					<section>
						<h2>Decoupled Workflow</h2>
						<p>Frontend workflow can be completely decoupled from Drupal</p>
					</section>
					<section>
						<h2>Flexible Project Workflow</h2>
						<p>Permits for a frontend to be designed and built out before a sitebuild must be committed to, without losing that time</p>
					</section>
					<section>
						<h2>Componentized Structure</h2>
						<p>Isolates components into the pieces of responsibility outside of the context of Drupal (wrappers, containers, other element classes, etc)</p>
					</section>
					<section>
						<h2>Styleguide</h2>
						<p>Produces a comprehensive interactive styleguide asset that develops with the project with only a small amount of upkeep</p>
					</section>
					<section>
						<h2>Testing (sort of)</h2>
						<p>Provides an entire set of data for all your frontend components that does not depend on the database.</p>
						<p>Easy visual "regression testing" of sorts for complicated components, or items that have many dependencies and moving parts.</p>
					</section>
					<section>
						<h2>Communities</h2>
						<p>Connecting communities! Pattern Lab is an existing tool with a lot of dedicated followers. And with the hard work of a few people, a bridge to connect Drupal with this large existing community has been made. That's pretty cool!</p>
					</section>
				</section>

				<section>
					<section>
						<h1>I'm not sure, this sounds terrifying! 🙀</h1>
					</section>
					<section>
						<h2>Time</h2>
						<p>Though, through this talk, I hope we determined that with a reasonable base setup, the time investment to use this workflow is not that great. For medium/large projects, or projects that are maintained, it can be well worth it, and save more than the time it takes to create</p>
					</section>
					<section>
						<h2>More Tools!</h2>
						<p>Yes, there are more tools to learn and more things to potentially debug. To effectively use this workflow, the dev has to have a reasonable knowledge of PHP, understanding of twig, a strong understanding of Drupal 8 conventions, experience with front end workflow tools (gulp/grunt), maybe some amount of experience with node, and able to debug any of those parts.</p>
						<p>Too many tools? It depends on your workflow, and your resources. But this is the direction of the Front End developer in the web space. Tools beyond html/css/javascript are par for the course.</p>
					</section>
					<section>
						<h2>End to End Project Workflow</h2>
						 <p>How does your company work? There are a LOT of potential benefits from this type of workflow, but if your entire project process doesn't/can't adjust to position itself to gain from these benefits than you may strictly be weighing the internal dev benefits against the dev costs.</p>
					</section>
				</section>

				<section>
					<h2>Questions!<br>Thoughts!<br>Comments!</h2>
				</section>

				<section>
					<h2>Appendix: Resources</h2>
					<ul>
						<li>Brad Frost</li>
						<li>Pattern Lab</li>
						<li>Twig</li>
						<li>Composer</li>
						<li>Gulp/npm</li>
						<li>Drupal Con talks (2)</li>
					</ul>
				</section>

				<section>
					<h2>Appendix: Steps to include Pattern Lab in Drupal 8</h2>
					<ol>
						<li>Composer new project in theme</li>
						<li>Pick a starter</li>
						<li>Npm</li>
						<li>Link templates</li>
						<li>Add assets</li>
						<li>Add Tasks?</li>
						<li>Start theming!</li>
					</ol>
				</section>
			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>
			// More info https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				history: true,

				// More info https://github.com/hakimel/reveal.js#dependencies
				dependencies: [
					{ src: 'plugin/markdown/marked.js' },
					{ src: 'plugin/markdown/markdown.js' },
					{ src: 'plugin/notes/notes.js', async: true },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>
	</body>
</html>
